* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border-radius: 6px;
    font-size: 1.1rem;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 3rem 0 3rem;
    height: 5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0;
}

h3{
    font-size: 2rem;
    font-weight: 800;
}



/* BOOK CARDS */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    gap: 50px;
}

#add-book-button {
    background-color: #e6e7e8;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 180px; 
    min-height: 60px;
    max-width: 180px; 
    max-height: 60px;
}

#add-book-button:hover {
    background-color: #d4d5d6;
}

#books-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.book-card{
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* POP UP */
.popup {
    width: 300px;
    height: 385px;
    background-color: #e6e7e8;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    border: none;
    visibility: hidden;
    transition: transform 0.4s;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    z-index: 2; 
  }

.add-book-form, input[type='text'], input[type='number'] {
    border: 0;
}

#add-book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-input {
    letter-spacing: 1.2px;
    padding: 0.5em;
    gap: 10px;
}

h4 {
    margin: 20px 0 0;
    font-size: 25px;
}

.read-question{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#check-box{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    accent-color: #86db9d;
}

#submit-button {
    min-width: 269px;
    background-color: #86db9d;
}

#submit-button:hover {
    background-color: #72c287;
}



/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    height: 4rem;
    font-size: 1rem;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */  
}


/* GENERAL STYLING */

html {
    height: 100%;
    position: relative;
}

body {
    background-color: #e6e7e8;
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    word-wrap: break-word;
}

button {
    border: none;
    min-height: 45px;
    transition: all .1s ease;
}

#log-in-button{
    min-width: 100px; 
    background-color: #e6e7e8;
}

#log-in-button:hover, .remove:hover{
    background-color: #d4d5d6;
}

p{
    margin: 0;
    padding: 0;
    font-weight: 800;
}

.remove {
    font-weight: 800;
    min-width: 269px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1000px){
    #books-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px){
    #books-grid{
        grid-template-columns: 1fr;
    }
}